@font-face {
    font-family: Marta;
    src: url(fonts/8383.otf);
   }

* {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: Marta;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.left_menu {
    width: 80px;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
    position: sticky;
    top: 200px;
    height: 0px;
}

.icon:hover {
    opacity: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:blue;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    font-size: 20px;
    opacity: 50%;
    text-align: center;
}

.menu_img {
    width: 90px;
    height: 90px;
}

.img_t {
    background: url('img/menu_home.png');
}

.img_q {
    background: url('img/menu_quest.png');
}

.body_r {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.top {
    background: url('img/top_1.jpg') no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    gap: 20px;
}

.body_left {
    padding-right: 0px;
    padding-left: 0px;
}

.top_left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h1_green {
    color: #247335;
}

.h1_red {
    color: #732424;
}

.width_p_t {
    width:  700px;
}

.top_img_right {
    margin-top: 50px;
    margin-bottom: 50px;
}

.quest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quest_left {
    background-size: 100%;
    margin-top: 40px;
    height: 500px;
}

.quest_right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px;
}

.quest_par {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p_q_r {
    text-align: right;
}

.p_q_l {
    text-align: left;
}